h1 {
    color: #bb6812;
}


header {
    display: flex;
    background-color: #bb6826;
    padding: 14px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: white;
}


header menu a {
    text-decoration: none;
    color: #f9e3a0;
    font-size: 25px;
    padding-left: 31px;
}

.ServiceLogoImage{
    width: 58%;
    display: block;
    height: 10%;
}

page {
    padding: 20px;
    display: block;
    min-height: 300px;
    margin: 10px;
    border: 1px solid chocolate;
    border-radius: 10px;
}

.circleimage {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#LinkedinRecommendations name {
    color: black;
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
#LinkedinRecommendations role {
    display: block;
    color: gray;
    font-size: 15px;
}

.verybigFont {
    font-size: 35px;
}

.clearbox {
    clear: both;
}

allBoxs {
    display: flex;
    flex-direction: column;
}
allBoxs box {
    border: 1px solid #d8d0d0;
    //border-radius: 9px;
    //padding: 10px;
    margin: 12px;
    float: left;
    display: flex;
    background-color: #f1ecec;
}

#linkservices allBoxs box {
    background-color: #16599c;
}
#linkservices allBoxs box topic{
    color: #f4ff4d;
    display: block;
    //width: 42%;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
}

#linkservices allBoxs box detail {
    color: #c7b3b3;
    font-size: 25px;
}
#LinkedinRecommendations allBoxs box {
    width: 45%;
    height: 196px;
    display: flex;
    flex-flow: wrap;
}
allBoxs box .servicedescbox {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
   // width : 10%;
    display: flex;
    flex-direction: column;
}
.egovLogo {
    background-color: #8c7b7b;
    padding: 10px;
    border-radius: 28px;
}

footer {
    display: block;
    background-color: #bb6812;
    color: white;
    padding: 14px;
}

infobox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
info {
    background-color: #f5f4f4;
    padding: 6px;
    margin-top: 8px;
    color: #484746;
    font-family: sans-serif;
}
.bigimage {
    width: 150px;
    height: 150px;
    margin-left: 25%;
}

team {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3370bd;
    padding: 30px;
}
teamx {
    background-color: #3370bd;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
teambox {
    width: 23%;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
}
teambox name {
    font-size: 34px;
    display: block;
    font-weight: bold;
}
teambox role {
    font-size: 17px;
    display: block;
    font-weight: bold;
}